@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
}

img{
  vertical-align: middle;
  object-fit: cover;
}

.container{
  width: 1380px;
  padding: 0 20px;
  margin: 0 auto;
}

/* HEADER */
.header{
  background-image: url("../images/background_repeat__img.png");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #F3D7B7;
  padding: 40px 0;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav__item {
  margin-left: 40px;
}

.nav__item--active {
  margin-left: 0;
}

.nav__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
}

.intro {
  position: relative;
  padding: 116px 0 249px;
  background-image: url("../images/main_img.png"), url("../images/background_repeat__img.png");
  background-blend-mode: normal, overlay;
  background-repeat: no-repeat;
  background-size: 710px 696px, 100%;
  background-color: #F3D7B7;
  background-position: calc(50% + 405px) bottom, center;
}

.intro::before{
  position: absolute;
  top: -80px;
  left: calc(50% - 40px);
  display: block;
  width: 214px;
  height: 214px;
  background-image: url("../images/motion_img.svg");
  background-repeat: no-repeat;
  background-size: 214;
  z-index: 1;
  content: "";
}

.intro__content {
  width: 464px;
  margin-left: 100px;
}

.intro__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #000000; 
}

.intro__info {
  margin-top: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.intro__btn {
  display: inline-block;
  width: 213px;
  padding: 16px 24px;
  background: #0A775F;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: #FFFFFF;
}
/* HEADER */

/* MAIN--our__collection */
.collection{
  position: relative;
  text-align: center;
  padding: 20px;
}

.collection::before{
  position: absolute;
  top: 70px;
  left: calc(50% - 850px);
  display: block;
  width: 402px;
  height: 300px;
  background-image: url("../images/our_collection_img_leaf.png");
  background-repeat: no-repeat;
  z-index: 1;
  content: "";
}

.collection::after{
  position: absolute;
  top: 720px;
  right: calc(50% - 950px);
  display: block;
  width: 450px;
  height: 477px;
  background-image: url("../images/our-collection_right_leaf.png"), url("../images/our-collection_leaf-right-two.png");
  background-position: center, calc(50% + 25px) calc(50% + 25px);
  background-repeat: no-repeat;
  content: "";
}

.collection__box{
  position: relative;
  display: inline-block;
  width: 1400px;
  background: #F8F8F2;
  padding: 50px 0;
  text-align: center;
}

.collection__box::before{
  position: absolute;
  bottom: 180px;
  left: -200px;
  display: block;
  width: 316px;
  height: 285px;
  background-image: url("../images/our_collection_leaf_two.png");
  background-repeat: no-repeat;
  content: "";
}

.collection__title {
  margin: 0;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 50px;
  text-align: left;
  line-height: 59px;
  font-variant: small-caps;
  text-align: center;
  color: #000000;
}

.collection__list{
  display: inline-block;
  width: 1114px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.collection__item{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  text-align: start;
}

.collection__item:nth-child(2n + 1){
  flex-direction: row;
}

.collection__img{
  margin-right: 117px;
}

.collection__img--active{
  margin-right: 0;
  margin-left: 117px;
}

.collection__content{
  width: 400px;
}

.collection__sub__title{
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  font-variant: small-caps;
  color: #333333;
}

.collection__info{
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #333333;
}
/* MAIN--our__collection */