 /* fotter section */
 .footer__section{
    background-image: url("../images/back.png");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #F3D7B7;
  }
  
  .footer__section__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 0;
  }
  
  .menu__sublist{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .menu__subitem{
    margin-right: 40px;
  }
  
  .menu__subitem:nth-child(3){
    margin-right: 0;
  }
  
  .menu__sublink{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
  }
  
  .footer__section__right-logo{
    margin-right: 30px;
    text-decoration: none;
  }
  
  .footer__right-logo:nth-child(3){
    margin-right: 0;
  }
  /* fotter section */