  
  /* HEADER */
  .header{
    background-image: url("../images/background_repeat__img.png");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #F3D7B7;
    padding: 40px 0;
  }
  
  .header__content {
    display: flex;
    align-items: center;
  }
  
  .header__nav {
    margin-left: auto;
  }
  
  .nav__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .nav__item {
    margin-left: 40px;
  }
  
  .nav__item--active {
    margin-left: 0;
  }
  
  .nav__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333333;
  }
  
  .intro {
    position: relative;
    padding: 116px 0 249px;
    background-image: url("../images/main_img.png"), url("../images/background_repeat__img.png");
    background-blend-mode: normal, overlay;
    background-repeat: no-repeat;
    background-size: 710px 696px, 100%;
    background-color: #F3D7B7;
    background-position: calc(50% + 405px) bottom, center;
  }
  
  .intro::before{
    position: absolute;
    top: -80px;
    left: calc(50% - 40px);
    display: block;
    width: 214px;
    height: 214px;
    background-image: url("../images/motion_img.svg");
    background-repeat: no-repeat;
    background-size: 214;
    z-index: 1;
    content: "";
  }
  
  .intro__content {
    width: 464px;
    margin-left: 100px;
  }
  
  .intro__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #000000; 
  }
  
  .intro__info {
    margin-top: 0;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  
  .intro__btn {
    display: inline-block;
    width: 213px;
    padding: 16px 24px;
    background: #0A775F;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-variant: small-caps;
    color: #FFFFFF;
  }
  /* HEADER */