
  /* MAIN--our__collection */
  .collection{
    position: relative;
    text-align: center;
    padding: 20px;
  }
  
  .collection::before{
    position: absolute;
    top: 70px;
    left: calc(50% - 850px);
    display: block;
    width: 402px;
    height: 300px;
    background-image: url("../images/our_collection_img_leaf.png");
    background-repeat: no-repeat;
    z-index: 1;
    content: "";
  }
  
  .collection::after{
    position: absolute;
    top: 720px;
    right: calc(50% - 950px);
    display: block;
    width: 450px;
    height: 477px;
    background-image: url("../images/our-collection_right_leaf.png"), url("../images/our-collection_leaf-right-two.png");
    background-position: center, calc(50% + 25px) calc(50% + 25px);
    background-repeat: no-repeat;
    content: "";
  }
  
  .collection__box{
    position: relative;
    background: #F8F8F2;
    padding: 50px 0;
    text-align: center;
  }
  
  .collection__box::before{
    position: absolute;
    bottom: 180px;
    left: calc(50% - 900px);
    display: block;
    width: 316px;
    height: 285px;
    background-image: url("../images/our_collection_leaf_two.png");
    background-repeat: no-repeat;
    content: "";
  }
  
  .collection__title {
    margin: 0;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 50px;
    text-align: left;
    line-height: 59px;
    font-variant: small-caps;
    text-align: center;
    color: #000000;
  }
  
  .collection__list{
    display: inline-block;
    width: 1114px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .collection__item{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    text-align: start;
  }
  
  .collection__item:nth-child(2n + 1){
    flex-direction: row;
  }
  
  .collection__img{
    margin-right: 117px;
  }
  
  .collection__img--active{
    margin-right: 0;
    margin-left: 117px;
  }
  
  .collection__content{
    width: 400px;
  }
  
  .collection__sub__title{
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    font-variant: small-caps;
    color: #333333;
  }
  
  .collection__info{
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #333333;
  }
  /* MAIN--our__collection */