 /* choose section */
 .choose__section{
    padding: 20px 20px 289px;
  }
  
  .choose__box{
    position: relative;
    padding: 50px 0 500px;
    background-image: url("../images/background_repeat__img.png");
    background-blend-mode: overlay; 
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #C99B67;
    text-align: center;
  }
  
  .choose__box::before{
    content: "";
    position: absolute;
    top: 232px;
    left: calc(50% - 717px);
    display: block;
    width: 140px;
    height: 140px;
    background-image: url("../images/background-choose-section.png");
    background-repeat: no-repeat;
    background-size: 140px;
    background-position: calc(50%) calc(50%);
    z-index: 1;
  }
  
  .choose__section__info{
    display: inline-block;
    width: 581px;
    text-align: center;
  }
  
  .choose__section__title{
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    font-variant: small-caps;
    color: #FFFFFF;
  }
  
  .choose__section__text{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
  }
  
  .choose__section__list{
    position: absolute;
    bottom: -237px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .choose__section__item{
    margin-right: 20px;
  }
  
  .choose__section__item:nth-child(3){
    margin-right: 0;
  }
  
  .choose__section__img{
    margin-bottom: 28px;
  }
  
  .choose__content{
    width: 365px;
    text-align: start;
  } 
  
  .choose__section__subject{
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    font-variant: small-caps;
    color: #333333;
  }
  
  .choose__section__docs{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;  
    color: #333333;
  }
  /* choose section */